@font-face {
  font-family: Aestetico-thin;
  src: url("/assets/font/Aestetico-thin.otf");
  font-family: Aestetico-light;
  src: url("/assets/font/Aestetico-light.otf");
}

/* Dialog PrimeNg */
::ng-deep .p-dialog {
  left: auto;
  transform-origin: 50% 12.5%;
  top: 2em;
  width: 850px;
  opacity: 1;
  transform: translateX(0%) translateY(0px) scale(1) translateZ(0px);
  min-width: 850px;
  max-height: 100% !important;
  margin: 2em 0 2em 0 !important;
  z-index: 2;
}

::ng-deep .p-dialog-header-icons .p-dialog-header-close-icon {
  color: white;
}

::ng-deep .p-dialog .p-dialog-content,
::ng-deep .p-dialog .p-dialog-header,
::ng-deep .p-dialog .p-dialog-footer {
  background-color: #181818;
}

::ng-deep .p-dialog .p-dialog-content {
  /* hide scrollbar in dialog content, but allow scrolling */
  -ms-overflow-style: none;
  /* for Internet Explorer, Edge */
  scrollbar-width: none;
  /* for Firefox */
  overflow-y: scroll;

  /* Hide horizontal scroll */
  overflow-x: hidden;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 0;
}

::ng-deep .p-dialog .p-dialog-content::-webkit-scrollbar {
  display: none;
  /*Hide scrollbar for Chrome, Safari, and Opera */
}

::ng-deep .p-dialog .previewModal-player-container .previewModal-cover-image {
  width: 100%;
}

::ng-deep .p-dialog .previewModal-player-image {
  mask-image: linear-gradient(180deg, #181818, transparent 100%);
  -webkit-mask-image: linear-gradient(180deg, #181818, transparent 100%);
}

::ng-deep .p-dialog .p-dialog-content .detail-modal-container {
  padding: 0 3em;
  margin-top: -3em;
  position: relative;
  color: white;

  .detail-modal {
    column-gap: 2em;
    grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);
    display: grid;

    .previewModal-left {
      .preview-modal-synopsis {
        font-size: 16px;
        line-height: 26px;
      }
    }

    .previewModal-right {
      display: flex;
      flex-direction: column;
    }
  }

  .episode-selector {
    background-color: #181818;
    padding: 1em 0 0;

    .episode-selector-header {
      grid-gap: 2rem;
      align-items: baseline;
      display: grid;
      grid-template-columns: 2fr 1fr;

      .title-selector {
        display: flex;
        flex-direction: column;
      }

      .title-selector-more-info {
        font-family: "Aestetico-bold";
        margin-top: 0.1rem;
        margin-bottom: 8px;
        font-size: 13px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        line-height: 1.5;
      }

      .dropdown-selector {
        font-size: 12px;
        font-weight: 500;
        justify-self: end;
      }
    }

    .episode-selector-container {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: flex-start;

      .titleCardList-container {
        align-items: center;
        border-bottom: 1px solid #404040;
        border-radius: 0.25em;
        cursor: pointer;
        display: flex;
        min-height: 10em;
        overflow: hidden;
        padding: 1em;
        position: relative;

        .titleCard-title-index {
          color: #d2d2d2;
          display: flex;
          flex: 0 0 7%;
          font-size: 1.5em;
          justify-content: center;
        }

        .titleCard-image-wrapper {
          border-radius: 4px;
          flex: 0 0 18%;
          overflow: hidden;
          position: relative;
        }

        .titleCard-image-wrapper svg {
          position: absolute;
          top: 25%;
          left: 40%;
        }

        .titleCard-image-wrapper .play-icon-img {
          visibility: hidden;
        }

        .titleCard-image-wrapper:hover .play-icon-img {
          visibility:visible;
        }

        .titleCardList-metadataWrapper {
          flex: 0 0 70%;
          font-size: 1em;
          min-height: 100%;

          .titleCardList-title {
            display: flex;
            justify-content: space-between;
            padding: 1em 1em 0.5em;

            .titleCardList-title-text {
              color: #fff;
              font-size: 1em;
              font-weight: 500;
              overflow-wrap: anywhere;
            }
          }

          .titleCardList-synopsis {
            color: #d2d2d2;
            margin: 0;
            padding: 0 1em 1em;
          }
        }
      }
    }
  }

  .about-wrapper {
    background-color: #181818;
    padding: 2em 0;
    padding-bottom: 4em;

    .about-header {
      .previewModal-section-header {
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 20px;
        margin-top: 48px;
      }

      .previewModal-section-about {
        font-family: "Aestetico-light";
      }
    }

    .about-container {
      font-family: "Aestetico-light";
      
      .previewModal-tags {
        font-size: 14px;
        line-height: 20px;
        margin: 0.5em 0.5em 0.5em 0;
        word-break: break-word;

        .previewModal-tags-label {
          color: #777;
        }

        .tag-item {
          margin-left: 0.3em;
        }
      }
    }
  }
}

/* Dropdown */
::ng-deep .p-dropdown {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  min-width: 4em;
  position: relative;
  font-size: 1.5em;
  padding: 0.1em 1.1em;
  cursor: pointer;
  border: 0.1em solid rgb(77, 77, 77);
  border-radius: 0.2em;

  .p-dropdown-panel .p-dropdown-items .p-dropdown-item:hover {
    background-color: #424242 !important;
  }

  .p-dropdown-label {
    padding: 4px !important;
  }

  .p-dropdown-label,
  .p-dropdown-label.p-placeholder,
  .p-dropdown-trigger {
    color: #fff !important;
    font-size: 20px;
    font-weight: 600;
  }
}

::ng-deep .p-dropdown,
::ng-deep .p-dropdown-items-wrapper,
::ng-deep .p-dropdown-item,
.p-dropdown-panel .p-dropdown-items .p-dropdown-item,
.p-dropdown-panel .p-dropdown-items .p-dropdown-empty-message {
  background-color: rgb(36, 36, 36);
  color: white !important;
}

::ng-deep
  .p-dialog
  .previewModal-player-container
  .previewModal-player-wrapper {
  height: 10%;
  position: relative;
  top: -6rem;
  width: 44%;
  opacity: 1;
  margin-left: 3rem;
}

::ng-deep
  .p-dialog
  .previewModal-player-container
  .previewModal-player-wrapper
  .buttons-controls-container {
  align-items: center;
  display: flex;
  margin-bottom: 1em;
  min-height: 2em;
  position: absolute;
  z-index: 2;
}

::ng-deep .p-dialog .previewModal-player-container .preview-audio-toggle {
  display: block;
  margin-left: 46rem !important;
}

::ng-deep .p-dialog .previewModal-container-close {
  position: relative;
}

::ng-deep .p-dialog .previewModal-close {
  cursor: pointer;
  margin: 1em;
  position: absolute;
  right: 0;
  z-index: 2;
}

::ng-deep
  .p-dialog
  .previewModal-player-container.preview-audio-toggle
  .previewModal-close {
  display: block;
}

::ng-deep .p-dialog .previewModal-player-container .preview-audio-toggle {
  display: block;
  margin-left: 46rem !important;
}

::ng-deep .p-dialog .previewModal-container-close {
  position: relative;
}

::ng-deep .p-dialog .previewModal-close {
  cursor: pointer;
  margin: 1em;
  position: absolute;
  right: 0;
  z-index: 2;
}

::ng-deep
  .p-dialog
  .previewModal-player-container.preview-audio-toggle
  .previewModal-close {
  display: block;
}

/* Close button */
::ng-deep .p-dialog .previewModal-container-close {
  position: relative;
}

::ng-deep .p-dialog .previewModal-close {
  cursor: pointer;
  margin: 1em;
  position: absolute;
  right: 0;
  z-index: 2;
}

/* Buttons control */
::ng-deep
  .p-dialog
  .previewModal-player-container
  .previewModal-player-wrapper
  .buttons-controls-container {
  align-items: center;
  display: flex;
  margin-bottom: 1em;
  min-height: 2em;
  position: absolute;
  z-index: 2;
}

.previewModal-player-wrapper {
  .btn-circle {
    height: 2.8rem;
    width: 2.8rem;
    max-height: 42px;
    max-width: 42px;
    min-height: 32px;
    min-width: 32px;
  }
}
