.login-wrapper-background {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../assets/img/background-login.jpg") no-repeat fixed;
  min-height: 100%;
  min-width: 740px;
  background-size: cover;
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

.navbar-brand {
  width: 215px;
  height: 80px;
  cursor: pointer;
  margin-left: 20px;
}

/**Login form ******************************/
.container-form {
  background: rgba(0, 0, 0, 0.75);
  margin: 0 auto;
  width: 450px;
  /* height: 825px; */
  height: 520px;
  border-radius: 4px;
  /* background-color: indigo; */
}

.login-form-main {
  width: 90%;
  margin: 0 auto;
  padding: 30px;
  /*  background-color: seagreen; */
}

.login-form-text {
  padding: 22px 0 22px 1px;
}

.login-form-other {
  width: 90%;
  margin: 0 auto;
  padding: 30px;
  /*  background-color: yellowgreen; */
}

.text-form-other {
  color: #737373;
  font-size: 16px;
  font-weight: 500;
}

.form-control {
  border-color: #e87c03;
  color: white !important;
  box-shadow: none;
  -webkit-box-shadow: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-width: 2px;
  border-radius: 3px;
  height: 55px;
  background-color: #333333;
  padding-left: 20px;
}

input:-webkit-autofill + input {
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px #333333 inset;
  transition: background-color 5000s ease-in-out 0s;}

.form-control:valid {
  border: none;
}

.form-group {
  position: relative;
}

.placeholder-text {
  position: absolute;
  padding: 12px;
  top: 6%;
  margin-left: 5px;
  color: #8c8c8c;
  font-size: 17px;
  transition: 0.2s ease all;
  pointer-events: none;
  /* background-color: #e50914; */
}

input:focus + span,
input:not(:placeholder-shown) + span {
  transform: translateY(-40%) translateX(2px);
  font-size: 11px;
}

.show-password {
  cursor: pointer;
  margin-top: -40px;
  margin-right: 15px;
  right: 0;
  color: #8c8c8c;
  position: absolute;
  visibility: hidden;
  background-color: transparent;
}

input:focus {
  background-color: #454545;
}

input:focus ~ .show-password,
input:not(:placeholder-shown) ~ .show-password {
  visibility: visible;
}

/* input:not(:placeholder-shown):valid ~ .show-password {
  visibility: hidden;
} */

.btn-danger {
  background-color: #e50914;
  cursor: pointer;
}

.form-check {
  padding-top: 8px;
  /* background-color: turquoise; */
}

.form-check-input {
  width: 18px;
  height: 18px;
  margin-top: 0;
}

.form-check-label {
  color: #b3b3b3;
  font-size: 13px;
  font-weight: 500;
}

.check-text {
  position: relative;
  float: left;

  /* background-color: teal; */
}

.help {
  position: absolute;
  right: 0;
  color: #b3b3b3;
  /* background-color: thistle; */
}

.help:hover {
  text-decoration: underline;
}

.signup {
  color: white;
}

.signup:hover {
  text-decoration: underline;
  color: white;
}

.alert-danger {
  background-color: #e87c03;
  color: white;
  border: none;
}

/******************************************/

/**Responsive******************/
@media screen and (max-width: 739px) {
  .container-form {
    width: 100%;
    left: 0;
    position: fixed;
  }

  .login-wrapper-background {
    background: rgba(0, 0, 0, 0.75) !important;
  }

  .login-form-main {
    padding: 0;
  }
}

@media screen and (max-width: 440px) {
  .navbar-brand {
    width: 100px;
    height: 45px;
    cursor: pointer;
    margin-left: 0;
  }
}

@media screen and (max-width: 228px) {
  .pt-first {
    padding: 9px;
    font-size: 14px;
  }

  .check-text,
  .help {
    display: inline-block;
  }
}
/*****************************************/
