.navbar {
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.7) 10%,
    transparent
  );
  transition: 0.3s;
  top: 0;
}

.fixed-top {
  z-index: 10 !important;
}

.navbar-nav {
  height: 45px;
}

.navbar-brand {
  height: 56px;
  width: auto;
  cursor: pointer;
  margin-left: 20px;
  margin-left: 20px;
}


.navbar-scrolled {
  background-color: #141414;
  transition: 0.3s;
}

/**Left navbar**********************/
.browse-triangle-up {
  width: 0;
  height: 0;
  margin-left: 7vw;
  margin-bottom: -2px;
  visibility: hidden;

  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 8px solid #fff;
}

.dropdown:hover .browse-triangle-up {
  visibility: visible;
}

.space-item {
  margin-right: 15px;
}

/**********************************/
/* .nav-item {
  background-color: thistle;
} */
/*Search icon**********************/

.search-box {
  position: relative;
  width: 35px;
  height: 45px;
}

.search-box .search-box_input {
  outline: none;
  background: rgba(0, 0, 0, 0.85);
  border: solid 1px rgba(255, 255, 255, 0.85);
  box-sizing: border-box;
  padding: 2px 14px 6px 30px;
  width: 0%;
  font-size: 13px;
  color: #fff;
  opacity: 0;
  float: right;
  transition: ease transform 0.1s;
  transition-delay: 500ms;
}

.nav-link {
  ::placeholder {
    color: #7d7d7d;
    opacity: 1; /* Firefox */
  }

  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #7d7d7d;
  }

  ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #7d7d7d;
  }
}

.search-box .search-box_icon {
  position: absolute;
  z-index: 10;
  cursor: pointer;
  right: 5px;
  transition: ease transform 0.4s;
  /* transition-delay: 50ms; */
  margin-top: 3px;
  margin-right: 3px;
}

.search-box.active {
  width: 250px;
}

.search-box.active .search-box_icon {
  transform: translateX(-208px);
}
.search-box.active .search-box_input {
  opacity: 1;
  width: 100%;
}

/***************************************/

@media screen and (max-width: 991px) {
  /* .bg-dark,
  .navbar-dark {
    background-color: yellowgreen !important;
  } */

  /* .search-box .search-box_icon {
    right: auto;
  }

  .search-box.active .search-box_icon {
    transform: translateX(208px);
  }

  .search-box .search-box_input {
    float: left;
  }

  .account {
    float: left;
  }

  .account-triangle-up {
    margin-top: 42px;
  } */
}

/**Tooltip bell*************************/
.tooltip-bell {
  position: relative;
}

.tooltip-bell .tooltiptext-bell {
  visibility: hidden;
  background-color: black;
  padding: 60px 130px;
  border-width: thin;
  color: #6b6765;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  border-radius: 1px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100%;
  right: 50%;
  margin-right: -18px;
  border-top: 2.5px solid #e5e5e5;
  border-bottom: 1.5px solid #3c3c3c;
  border-right: 1px solid #3c3c3c;
  border-left: 1px solid #3c3c3c;
  margin-top: 5px;
  z-index: 2;
  opacity: 0.6;
}

.tooltip-bell:hover .tooltiptext-bell,
.tooltip-bell:hover .triangle-up {
  visibility: visible;
}

.triangle-up {
  width: 0;
  height: 0;

  margin-left: 11px;
  visibility: hidden;
  opacity: 0.6;

  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 8px solid #e5e5e5;
}
/***************************************/

/**Dropdown Menu***********************/
.dropdown-menu {
  border-radius: 1px;
  background-color: black;
  opacity: 0.9;
  border: 1px solid #3c3c3c;
  width: 190px;
}

.dropdown-menu > li > a:hover {
  background-color: black;
  background-image: none;
  text-decoration: underline;
}

.dropdown-item {
  color: #e5e5e5;
  font-size: 14px;
  font-weight: 500;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-img {
  margin-top: -3px;
}

.dropdown-img-item {
  width: 35px;
  margin-right: 15px;
}

.dropdown-img,
.dropdown-img-item {
  width: 32px;
  height: 32px;
  border-radius: 4px;
}

.account-triangle-up {
  width: 0;
  height: 0;
  margin-left: 17px;
  margin-top: -8px;
  opacity: 0.6;
  visibility: hidden;

  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 8px solid #e6e6e6;
}

.dropdown:hover .account-triangle-up {
  visibility: visible;
}

.dropdown-divider {
  border: 0.5px solid #3c3c3c;
}

.kids-item {
  display: none;
}

.dropdown-left {
  display: none !important;
  /* background-color: teal; */
}

.dropdown-menu > a:hover {
  background-color: #222222;
}

.dropdown-menu-left {
  border-top: 2.5px solid #fff;
}

@media screen and (max-width: 1100px) {
  .nav-kids {
    display: none;
  }
  .kids-item {
    display: block;
  }
}

@media screen and (max-width: 1090px) {
  .dropdown-left {
    display: block !important;
  }

  #leftNavbar {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  #rightNavbar {
    display: inline-flexbox;
  }

  .browse,
  #collapsibleNavbar {
    font-size: 1.6vw;
  }

  .triangle-up {
    margin-top: 8px;

    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 7px solid #e5e5e5;
  }
}

@media screen and (max-width: 950px) {
  /* .navbar-brand {
    width: 110px;
    height: 45px;
  } */
}
/**************************************/
/* 
#leftNavbar {
  background-color: tomato;
}

*/

#rightNavbar {
  /*  background-color: tomato; */
  margin-right: 40px;
}
