/***************Footer    ***********/
.member-footer {
  color: grey;
  margin: 20px auto 0;
  max-width: 980px;
  padding: 0 4%;
  min-height: 220px;
}

/* Social Links */
.member-footer .social-links {
  display: flex;
  margin-bottom: 1em;
}

.member-footer .social-links .social-link {
  margin-right: 15px;
}

a {
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

.member-footer .social-links .social-link .svg-icon {
  fill: grey;
  height: 25px;
  width: 36px;
}

/* Membr footer links */
.member-footer .member-footer-links {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 13px;
  margin: 0 0 14px;
  padding: 0;
}

.member-footer .member-footer-link-wrapper {
  box-sizing: border-box;
  flex: 0 0 50%;
  list-style-type: none;
  margin-bottom: 16px;
}

.member-footer .member-footer-link {
  color: grey;
  text-decoration: none;
}

.member-footer .member-footer-links a.member-footer-link span:hover,
.member-footer .member-footer-links a.member-footer-link span:focus {
  border-bottom: 1px solid grey;
}

.member-footer .member-footer-link-wrapper {
  box-sizing: border-box;
  flex: 0 0 50%;
  list-style-type: none;
  margin-bottom: 16px;
}

.member-footer .member-footer-link-wrapper {
  flex-basis: 25%;
}

/* Member footer services */
.member-footer .service-code {
  font-size: 13px;
  margin-bottom: 20px;
  padding: 0.5em;
}

.member-footer .service-code:hover,
.member-footer .service-code:focus {
  color: white;
}

.service-code {
  background: transparent;
  border: 1px solid grey;
  color: grey;
  font-size: 1.3rem;
  padding: 0.5rem;
}

/* Member footer copyright */
.member-footer .member-footer-copyright {
  font-size: 11px;
  margin-bottom: 15px;
}

/******************************** */
