/* You can add global styles to this file, and also import other style files */
html,
body {
  background-color: #141414;
}

body {
  /* Hide horizontal scroll */
  overflow-x: hidden !important;
}

h2,
h3,
p,
a {
  color: #e5e5e5;
}

/**For Chrome and Safari you can change the scrollbar style using this code*/
::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}
::-webkit-scrollbar-track-piece {
  background-color: #242424;
}
::-webkit-scrollbar-thumb:vertical {
  height: 25px;
  background-color: #6a6a6a;
}

/* @media screen and (min-width: 1031px) {
  body,
  html {
    font-size: 1vw;
  }
} */

/* @media screen and (min-width: 0) and (max-width: 480px) and (max-aspect-ratio: 4/3) {
  body,
  html {
    font-size: 1.5vw;
  }
}
@media screen and (min-width: 481px) and (max-width: 840px) and (max-aspect-ratio: 4/3) {
  body,
  html {
    font-size: 1vw;
  }
}

@media screen and (max-width: 480px) and (orientation: landscape) {
  body,
  html {
    font-size: 1.5vw;
  }
}
@media screen and (min-width: 481px) and (max-width: 840px) and (orientation: landscape) {
  body,
  html {
    font-size: 1.2vw;
  }
}
@media screen and (min-width: 841px) and (max-width: 1280px) and (orientation: landscape) {
  body,
  html {
    font-size: 0.85vw;
  }
}
 */
