<app-profile-gate *ngIf="!isValidUser"></app-profile-gate>

<!-- Cover Image -->
<div class="cover-image-wrapper">
  <img
    class="static-image image-layer"
    src="https://static.tvmaze.com/uploads/images/original_untouched/219/547904.jpg"
  />
</div>

<!-- Cover Info Image -->
<div class="fill-container">
  <div class="info-meta-layer">
    <div class="logo-and-text meta-layer">
      <div class="titleWrapper">
        <div class="billboard-title">
          <img
            class="title-logo"
            src="../../assets/img/breaking-bad-logo.png"
          />
        </div>
      </div>
      <div class="info-wrapper"></div>
      <div class="billboard-links button-layer forward-leaning d-flex">
        <!-- Play -->
        <button
          class="btn btn-light btn-sm font-weight-bold btn-block custom-btn"
        >
          <div class="icon-button">
            <svg
              width="2.5vw"
              height="2.5vw"
              fill="currentColor"
              class="bi bi-play-fill custom-icon-btn"
              viewBox="0 0 16 16"
            >
              <path
                d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"
              ></path>
            </svg>

            <!-- <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              class="Hawkins-Icon Hawkins-Icon-Standard"
            >
              <path
                d="M4 2.69127C4 1.93067 4.81547 1.44851 5.48192 1.81506L22.4069 11.1238C23.0977 11.5037 23.0977 12.4963 22.4069 12.8762L5.48192 22.1849C4.81546 22.5515 4 22.0693 4 21.3087V2.69127Z"
                fill="currentColor"
              ></path>
            </svg> -->
          </div>

          <!--           <div style="width: 1rem"></div>
 -->
          <span class="text-button">Play</span>
        </button>

        <!-- More info -->
        <button
          type="button"
          class="btn btn-secondary btn-sm font-weight-bold custom-btn more-info-btn"
        >
          <div class="icon-button">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="2.5vw"
              height="1.5vw"
              fill="currentColor"
              class="bi bi-info-circle custom-icon-btn"
              viewBox="0 0 16 16"
            >
              <path
                d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
              />
              <path
                d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"
              />
            </svg>
          </div>

          <span class="text-button">More info</span>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" *ngIf="isValidUser">

  <!-- User N, keep watching -->
  <swiper [config]="config" >
    <p class="title-slide">
      User{{ this.selectUser?.getIdUser() }}, keep watching :
    </p>

    <div class="swiper-wrapper">
      <div
        class="swiper-slide"
        *ngFor="let slide of slideData; let i = index"
        #swiperSlides
      >
        <img class="card_img" [src]="coverImgKeepWatching[i]"/>
        <div class="card_details">
          <div class="card_icons">
            <!-- <img class="speaker-icon" src="../assets/icons/speaker-up.png" /> -->
          </div>
          <div class="video-metadata-container">Hello</div>

          <!--  <img class="play-icon" src="../assets/icons/play.png" />
          <div class="card_title">
            Bojack Horseman
          </div> -->
        </div>
      </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </swiper>

  <!-- My List -->
  <swiper [config]="config">
    <p class="title-slide">My List</p>
    <div class="swiper-wrapper">
      <div
        class="swiper-slide"
        *ngFor="let slide of slideData; let i = index"
        #swiperSlides
      >
        <img class="card_img" [src]="coverImgMyList[i]" />
        <div class="card_details">
          <!-- <img class="play-icon" src="../assets/icons/play.png" />
          <div class="card_title">
            Bojack Horseman
          </div> -->
        </div>
      </div>
    </div>

    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </swiper>

  <!-- Top rated Movies -->
  <swiper [config]="config"
>
    <p class="title-slide">Top rated Movies</p>
    <div class="swiper-wrapper">
      <div
        class="swiper-slide"
        *ngFor="let slide of slideData; let i = index"
        #swiperSlides
      >
        <img class="card_img" [src]="coverImgTopRatedMovies[i]" />
        <div class="card_details">
          <!-- <img class="play-icon" src="../assets/icons/play.png" />
          <div class="card_title">
            Bojack Horseman
          </div -->
        </div>
      </div>
    </div>

    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </swiper>

  <!-- Tv Shows -->
  <swiper [config]="config" #usefulSwiper>
    <p class="title-slide">Tv Shows</p>
    <div class="swiper-wrapper">
      <div
        class="swiper-slide"
        *ngFor="let slide of slideData; let i = index"
        #swiperSlides
      >
        <img class="card_img" [src]="coverImgTvShows[i]" />
        <div class="card_details">
          <!-- <img class="play-icon" src="../assets/icons/play.png" />
          <div class="card_title">
            Bojack Horseman
          </div -->
        </div>
      </div>
    </div>

    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </swiper>
</div>
